[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#confusable_homoglyphs = "==3.0.0"
django = "==2.0.13"
django-extensions = "==1.9.9"
django-registration = "==2.3"
gunicorn = "==19.7.1"
"psycopg2-binary" = "==2.8.2"
djangorestframework = "==3.7.7"
django-import-export = "==0.7.0"
django-taggit = "==0.22.2"
django-webpack-loader = "==0.6.0"
django-widget-tweaks = "==1.4.1"
django-filter = "==1.1.0"
django-axes = "==4.1.0"
raven = "==6.10.0"
python-dateutil = "==2.7.2"
django-anymail = "==2.0"
ipython = "*"
sentry-sdk = "==0.14.2"

[dev-packages]
"fabric3" = "*"
