[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.2"
django-extensions = "~=2.2"
django-registration = "==2.3"
gunicorn = "~=20.0"
"psycopg2-binary" = "~=2.8"
djangorestframework = "~=3.11"
django-import-export = "~=2.0"
django-taggit = "~=1.2"
django-webpack-loader = "==0.7.0"
django-widget-tweaks = "~=1.4"
django-filter = "~=2.2.0"
django-axes = "~=5.3"
python-dateutil = "==2.7.2"
django-anymail = "~=7.0"
ipython = "*"
sentry-sdk = "~=0.14"
scikit-learn = "*"

[dev-packages]
"fabric3" = "*"
