{% load widget_tweaks %}

{% if form.non_field_errors %}
<div class="notification is-danger">
  {% for err in form.non_field_errors %}
  <div>{{ err }}</div>
  {% endfor %}
</div>
{% endif %}

{% for field in form.visible_fields %}
{% if field.name in form.Meta.norender %}
<p></p>
{% else %}
{% with WIDGET_ERROR_CLASS='is-danger' %}
<div class="field is-horizontal">
  <div class="field-label is-normal has-text-left">
    <label class="label {% if field.field.required %}mt-is-required{% endif %}">{{ field.label }}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        {% if field|field_type == 'modelchoicefield' %}
        <div class="select">
          {{ field }}
        </div>
        {% elif field|field_type == 'datefield' %}
        <div class="cdate">
          <datepicker
            id="{{ field.id }}"
            name="{{ field.name }}"
            placeholder="{{ field.verbose_name }}"
            value="{{ field.initial.isoformat|default_if_none:'' }}"
            v-bind:config="{ dateFormat: 'Y-m-d', static: true }">
          </datepicker>
        </div>
        {% else %}
        {% render_field field|add_class:"input" %}
        {% comment %}
        {{ field|widget_type }}
        {% endcomment %}
        {% endif %}
      </div>
      {% if field.errors %}
      <p class="help is-danger">{{ field.errors|join:", " }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endwith %}
{% endif %}
{% endfor %}

