{% extends 'web/base.html' %}

{% block title %}
Delete Recurring Transaction
{% endblock %}


{% block content %}
<div class="columns is-vcentered">
  <div class="column is-narrow"><span>Are you sure you want to delete this recurring transaction?</span></div>
  <div class="column has-text-left">
    <form method="post" class="is-inline-block">
      {% csrf_token %}
      <input class="button is-danger" type="submit" value="Yes">
    </form>
    <a href="{{ returnurl }}" class="button is-light">No</a>
  </div>
</div>
{% endblock content %}
