<nav class="pagination is-right" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      {% if firstlink %}
          <li><a href="?{{ firstlink }}" title="First Page" class="pagination-previous">&laquo; First</a></li>
      {% endif %}

      {% if page_obj.has_previous %}
          <li><a href="?{{ prevlink }}" title="Previous Page" class="pagination-previous">&lt; Previous</a></li>
      {% endif %}

      {% for link in pagelinks %}
          <li><a href="?{{ link.href }}" title="{{ link.title }}" class="{{ link.class }}">{{ link.value }}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
          <li><a href="?{{ nextlink }}" title="Next Page" class="pagination-next">Next &gt;</a></li>
      {% endif %}

      {% if lastlink %}
          <li><a href="?{{ lastlink }}" title="Last Page" class="pagination-next">Last &raquo;</a></li>
      {% endif %}
    </ul>
</nav>
