{% extends 'web/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
  Add Transaction
{% endblock %}

{% block extracss %}

{% endblock extracss %}

{% block extrajs %}
  {% render_bundle 'vcomponents' %}

    <script type="text/javascript">
    </script>
{% endblock extrajs %}

{% block content %}
    <form method='post' class="form-horizontal">
      {% csrf_token %}

      {% include "generic_snippets/form_snippet.html" with form=form %}
        <div class="field is-horizontal {% if form.tags.errors %}is-danger{% endif %}">
            <div class="field-label">
                <label class="label">Tags</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="tagmultiselect">
                            <tag-multi-select
                                    url="{% url 'api:api-tag-list' %}"
                                    identifier="tags">
                            </tag-multi-select>
                        </div>
                    </div>
                </div>
                <p class="help is-danger">{{ form.tags.errors|join:", " }}</p>
            </div>
        </div>
        <div class="form-actions">
            <input class="button" type='submit' value='Add'/>
        </div>
    </form>
{% endblock content %}
